<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/assets/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid mt-5">
        <canvas id="serviceChart"></canvas>
    </div>
    <script src="../public/assets/js/bootstrap.min.js"></script>
    <script src="../public/assets/jquery/jquery-3.6.0.min.js"></script>
    <script src="../public/assets/js/loader.js"></script>
    <script src="../public/assets/js/chartcode.js"></script>
    <script src="../public/assets/js/csv.js"></script>
    <script src="../public/assets/js/chart.js"></script>
</body>

</html>